.boxB {
  /* align-items: baseline; */

  height: 85%;
  width: 98%;
  padding: 10px;
  margin: 10px;
  zoom: 80%;
  background-color: #fdfdfd;
  row-gap: 20px;
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 10px;
  /* border: solid rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px; */
}


.boxB1 {
  /* width: 8%; */

  height: 100%;
  width: 150px;
  padding: 6px;
  margin: 3px;
  /* margin-top: 10px; */

  background-color: snow;
  border-radius: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px #00000078;
}

.boxB2 {
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: 3px;
  background-color: snow;
  border-radius: 3px;
  box-shadow: 0 0 10px #00000070;
  height: 100%;

  overflow: scroll;

}

/* //////////////////////////////////// menu ////////////////////////////////////// */

.Menu {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  /* padding: 0; */
  margin: -5px 0px 0px 0px;
  list-style: none;
}

.Menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.Menu li {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  display: block;
  width: 100%;
  /* width: 10vmin; */
  padding: 0px 0px 0px 5px;
  margin: 1px 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.Menu li:hover {
  background-color: #92929273;
  font-weight: 500;
  color: black;
}

.boxB1_headings {
  margin: 18px 7px 5px 6px;
  padding: 0px 0px 0px 0px;
  font-size: 25px;
}

.boxB2_headings {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 25px;
}