.actionButton {
    font-weight: 600;
    font-size: 14px;
    padding: 7px;
    display: inline-block;
    font-family: "Jost", serif;
    width: 70px;
    background-color: rgb(20, 193, 37);
    border-width: 0.5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, color 0.3s ease;
    text-align: center;
    color: #fff;
}

.actionButton:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.15);
    color: white;
}

.actionButtonWide {
    /* composes: actionButton; */
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}