.logo {
    text-align: center;
    font-size: 30px;
    padding: 2px 15px 6px 15px;
    font-weight: 500;
    margin-bottom: .2cm;
    background-color: rgba(0, 0, 0, 0.116);
    text-decoration-color: black;
}