
.navbar {
    width: 100%;
    /* position: fixed; */
    background-color: #3333337b;
    /* background-color: #3b3b3bfa; */
    overflow: hidden;
    display: flex;
    padding: 7px 20px 7px 7px;

}


.navLink {
    color: white;
    text-decoration: none;
    padding: 7px 15px 2px 15px;
    border-radius: 2px;
    display: block;
    width: max-content;
    font-weight: 400;
    /* transition: 0.8s ease; */
}

 


.navLink:not(.logo):hover
{  
    background-color: rgba(41, 41, 135, 0.416);
    transition: background-color 0.6s ease;
    transition: color 0.3s ease;
    color: black;
}


/* :not(.logo):hover
{  
    background-color: rgba(41, 41, 135, 0.416);
    transition: background-color 0.6s ease;
    transition: color 0.3s ease;
    color: black;
} */



.logo {
    color: white;
    text-decoration: none;
    padding: 7px 15px 2px 15px;
    border-radius: 2px;
    display: block;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    padding: 2px 15px 6px 15px;
    transition: text-shadow 0.3s ease;
}

.logo:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); /* Add shadow */
}

.signupLogin{

    color: white;
    text-decoration: none;
    padding: 7px 15px 2px 15px;
    border-radius: 2px;
    display: block;
    width: max-content;
    font-weight: 400;
    /* margin-right: 15px; */
}
.signupLogin:hover {
    
    color: rgb(41, 41, 135);
    transition: color 0.3s ease;
    /* margin: 0px 0px 0px 0px; */
}
