.DiBOX {
  position: fixed;
  /* top: 35%; */
  left: 15%;
  right: 15%;
  bottom: 20%;
  z-index: 1000;
  border-radius: 9px;
  width: 800px;
  height: 382px;
  margin: 20px auto;
  padding: 3rem 1.5rem;
  flex-wrap: wrap;
  display: flex;
  place-items: center;
  align-items: center;
  justify-items: center;
  background: #fff;
  box-shadow: 0 25px 50px -12px #00000040;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.ib {
  padding: 10px;
  border: 0.5px solid;
  font-family: "Jost", serif;
  font-weight: 500;
  width: 250PX;
  border-width: 1.5px;
  border-radius: 1.8px;
  box-sizing: border-box;
  background-color: white;
  font-size: small;
  text-decoration-color: black;
}

.textButton {
  background-color: rgba(255, 228, 196, 0);
  color: rgb(188, 158, 7);
  border: none;
  font-family: jost;
  cursor: pointer;
  /* text-shadow: 0px 0px 2px rgba(77, 111, 74, 0.77); */
  font-size: medium;
  font-weight: 500;
  text-decoration: underline;
  transition: 200ms;
}

:hover.textButton {
  border: none;
  font-weight: 700;
  transition: 500ms;
  color: rgb(9, 168, 38);


}

.DiBUTTONdiv {
  display: flex;
  justify-content: right;
  margin-top: 33px;
  margin-left: 527px;

}

.DiBUTTON {
  font-size: 17px;
  padding: .1cm;
  /* justify-content: center; */
  margin: auto;
  padding: 0px;
  font-family: Jost, serif;
  font-weight: 500;
  width: 81px;
  height: 36px;
  background-color: #14c125;
  border-width: 0.5px;
  cursor: pointer;
  margin-right: 52px;
  border-radius: 3px;
}

:hover.DiBUTTON {
  background-color: #0f9d0fd7;
  color: white;
  cursor: pointer;
  transition: 0.1s;
  border-width: 0.3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.343);
}


.formDibox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  align-content: center;
  flex-wrap: wrap;
}