@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
    margin: 0;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: snow;
} */


body {
    margin: 0;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: snow;

}

/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */


#major_container {
    display: flex;   /*  or grid */
 
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    padding: 20px;
    margin: auto;
    /* border: 2px solid black; */
    background-color: rgb(253, 253, 253);
    row-gap: 20px;
    margin-top: 100px;
    align-items: flex-start;

}

#major_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 110%;
    padding: 20px;
    margin: auto;
    /* border: 2px solid black; */
    background-color: rgb(253, 253, 253);
    row-gap: 20px;
    margin-top: 100px;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Creates a responsive grid */
    gap : 20px;
    padding: 20px;
} 