@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: black;
}


.logo {
    text-align: center;
    font-size: 30px;
    padding: 2px 15px 6px 15px;
    font-weight: 500;
    margin-bottom: 5cm;
    background-color: rgba(0, 0, 0, 0.116);
    text-decoration-color: black;
}


.headingsB {
    text-align: center;
    font-weight: 400;
}

#role {
    padding: 1.2cqmin;
    font-family: "Jost", serif;
    font-weight: 500;
    width: 265px;
    border-width: 1.5px;
    border-radius: 1.8px;

}

#container {


    display: flex;
    /* making itmes flexible so that can be moved */
    justify-content: center;
    /* moving the itms to centter*/
    align-items: center;
    padding: 0.5cm;


}

.box {

    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px; */

}

.form_signup{

    display: flex; /* came into single line in container_full */
    flex-wrap: wrap; /* arrranged in lins if space is not available */


    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* Creates 2 columns of equal width */

    row-gap: 27px; /* Space between grid rows */
    column-gap: 25px;
    width: 525px;/* Increased width to accommodate two columns */
    margin: 0 auto; /* Center the form */
    padding: 20px;
    /* background-color: white; */

    /* border: 1px solid #ccc; */
    align-items: center;
    justify-items: center; 

}

.ib {
    padding: 10px;
    border: 0.5px solid ;
    font-family: "Jost", serif;
    font-weight: 500;
    width: 250PX;
    border-width: 1.5px;
    border-radius: 1.8px;
    box-sizing: border-box;
    background-color: white;
    font-size: small;
    text-decoration-color: black;
}

#submit {

    font-weight: 600;
    font-size: 14px;

    padding: 0.1cm;
    display: block;
    margin: auto;
    padding: 7px;
    font-family: "Jost", serif;
    font-weight: 500;
    width: 70PX;
    background-color: rgb(20, 193, 37);
    border-width: 1px;
    border-radius: 1.8px;
    cursor: pointer;

}

#forgot_password {
    font-size: small;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: rgb(66, 66, 169);
}