.body{
    background-color: black;
}

.cover{
    width: 70%; /* Fixed width */
    height: 230px; /* Fixed height */
    max-width: 100%; /* Prevents exceeding parent width */
    max-height: 300px; /* Ensures it doesn't exceed viewport height */
    overflow: hidden; /* Prevents image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #88b561;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
    margin:auto;
    position:relative;
}
.cover img{
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    object-fit: cover; /* Prevents image from stretching */
    object-position:center; /* Helps in centering the image */
    z-index: 8;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
}


.dp{
    width: 150px; /* Responsive image */
    height: 150px; /* Maintain aspect ratio */
    border: solid 3px #d1c4a9;
    border-radius: 100%;
    position: absolute;

    top : 185px;

    z-index: 10;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);

}
.dp img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.infoBOX{
    height: 750px;
    width: 90%;
    margin:auto;
    padding: 10px;
    z-index: 5;
    background-color:rgb(245, 222, 179);
    border: solid 2px #88b561;
    border-radius: 4px;
    position:relative;
    top: -10px;
    box-shadow: 0 3px 46px #00000059, 0 10px 10px #0000000a;

    align-items:flex-start;
    margin-top: 10px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;

} 
.GENERALinfo{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
}
.GENdetails{
    margin: 0.3px;
    font-family: commissioner;
    font-weight: 200;
}
 